/*TODA LA PAGINA*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #ced9e9;
    color: #364c75;
    min-height: 100vh;
    flex-direction: column;
}
a {
    text-decoration: none;
}

/*ENCABEZADO PRINCIPAL*/
.encabezado-principal {
    background-color: #869bb8; 
    color: #ced9e9;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.titulo-empresa {
    color:#04296d;
    font-size: 2.25rem;
    line-height: 1;
}
.subtitulo-empresa {
    font-size: 0.90rem;
    color: #04296d;
}
.navegacion-principal ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.enlace-nav {
    color: #04296d;
    padding: 0.5rem;
}

/*CONTENEDOR FORM*/
.contenedor-principal {
    display: flex;
    margin: auto;
    width: 100%;
}
.tarjeta-form {
    margin: 3rem auto;
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 2rem 1.8rem;
    border-radius: 12px;
    border: 1px solid #869bb8;
    box-shadow: 0 10px 25px #04296d;
}
.encabezado-form h2 {
    color: #04296d;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.encabezado-form p {
    color: #04296d;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.divisor {
    border: none;
    height: 1px;
    background-color: #869bb8;
    margin-bottom: 1rem;
}
.campo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
}
label {
    font-size: 0.85rem;
    color: #04296d;
}
.requerido {
    color: #e53e3e;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="phone"] {
    width: 100%;
    max-width: 410px;
    padding: 0.20rem;
    border: 1px solid #cbd5e0;
}

.phone { display: flex; border: 1px solid #ccc; border-radius: 6px; overflow: hidden; max-width: 410px; }
.phone span { background: #ced9e9; padding: 8px; border-right: 1px solid #ccc; }
.phone input { border: none; outline: none; padding: 8px; flex: 1; }

/*BOTON*/
.btn-enviar {
    width: 100%;
    background-color: #04296d;
    color: #ffffff;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn-enviar:hover {
    background-color: #ced9e9;
}

.msj-error {
    font-size: 0.75rem;
    color: #e53e3e;
    margin-top: 0.2rem;
}